<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.quantumcrm.products.ClickContactTab"/>
      <class name="com.quantumcrm.products.VerifyHomePageTest"/>
      <class name="com.quantumcrm.Potentials.NewPotentialsPage"/>
      <class name="com.quantumcrm.products.CreateProductsTest"/>
      <class name="com.quanta.Leads.CreateLeadTest"/>
      <class name="com.quantumcrm.products.newCampaignPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
